@charset "utf-8";


/* COMMON */
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  overflow-x: hidden;
}
a.btn-member {
  color: gray;
  text-decoration: none;
}
a.btn {
  display: block;
  text-decoration: none;
  color: #dedede;
  border: 1px solid lightgrey;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px;
  opacity: 0.95;
  margin-bottom: 10px;
  position: relative;
}
a.btn:hover {
  opacity: 1;
}


/* LAYOUT CSS */
.container {
  border: 1px solid yellow;
  background-color: #f5f5f5;
  height: 100vh;
}
.header {
  text-align: center;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header h1 {
  font-size: 18px;
}
.header img {
}
a.btn2:before {
  content: url(KSH_LION_img/icon_google.png);
  position: absolute;
  left: 10px;
  top: 15px;
}
.login {
  padding: 0 15px;
  /* border: 1px solid red; */
  width: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-title h2 {
  font-weight: normal;
}
.login-title p:nth-of-type(1) img {
  vertical-align: middle;
}
.login-title div ul {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.login-title div ul li {
  list-style: none;
  position: relative;
  padding: 0 18px;
}
.login-title div ul li ~ li:after {
  content: ""; 
  position: absolute; 
  left: 0; 
  top: 4px; 
  height: 14px; 
  width: 2px; 
  background: gray; 
}

span.or-txt {
  display: block;
  margin: 10px 0;
  position: relative;
  text-align: center;
}
span.or-txt:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  background-color: #5C5C5C;
  width: 44%;
  height: 1px;
}
span.or-txt:after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  background-color: #5C5C5C;
  width: 44%;
  height: 1px;
}


/* BUTTON CSS */
.login-title a.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(47, 128, 237);
  font-size: 22px;
  height: 38px;
  margin-bottom: 15px;
}
.login-easy a:nth-of-type(1) {
  color: #5C5C5C;
  border-color: #5C5C5C;
}
.login-easy a:nth-of-type(2) {
  color: #5C5C5C;
  border-color: #50BCDF;
}
.login-easy a:nth-of-type(3) {
  color: #5C5C5C;
  border-color: #2DB400;
}
.login-easy a:nth-of-type(4) {
  color: #5C5C5C;
  border-color: #FFD700;
}
a.btn2:before {
  content: url(KSH_LION_img/icon_google.png);
  position: absolute;
  left: 10px;
  top: 15px;
}
a.btn3:before {
  content: url(KSH_LION_img/icon_facebook.png);
  position: absolute;
  left: 10px;
  top: 15px;
}
a.btn4:before {
  content: url(KSH_LION_img/icon_naver.png);
  position: absolute;
  left: 10px;
  top: 15px;
}
a.btn5:before {
  content: url(KSH_LION_img/icon_kakao.png);
  position: absolute;
  left: 10px;
  top: 15px;
}